### Importación de librerias necesarias

In [1]:
import pandas as pd
from textblob import TextBlob
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

## Análisis de sentimiento con libreria **textblob**

Carga y lectura del DF

In [2]:
df_review1 = pd.read_csv('datasets/data_transf/t_user_reviews.csv')
df_review1

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...
58426,Posted July 10.,70,True,a must have classic from steam definitely wort...,76561198312638244
58427,Posted July 8.,362890,True,this game is a perfect remake of the original ...,76561198312638244
58428,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
58429,Posted July 20.,730,True,:D,LydiaMorley
58430,Posted July 2.,440,True,so much fun :D,LydiaMorley

In [3]:
# Función de Análisis de Sentimiento: Determinando Polaridad en Texto

def analisis_sentimiento(review):
    analisis = TextBlob(str(review))
    # Asigna un valor según el análisis de sentimiento
    if analisis.sentiment.polarity > 0.1: 
        return 2  # Positivo
    elif analisis.sentiment.polarity < -0.1:
        return 0  # Malo
    else:
        return 1  # Neutral

In [4]:
# Análisis de Sentimiento aplicado a columna 'review': Creación de una Columna 'Sentiment_analysis'
df_review1['Sentiment_analysis'] = df_review1['review'].apply(analisis_sentimiento)

In [5]:
df_review1.head()

,posted,item_id,recommend,review,user_id,Sentiment_analysis
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479,2
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,1
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637,2
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637,1

In [6]:
df_review1['Sentiment_analysis'].value_counts()

Sentiment_analysis
2    25888
1    24573
0     7970
Name: count, dtype: int64

## Análisis de sentimiento con biblioteca **nltk**

Carga y lectura del DF

In [7]:
df_review2 = pd.read_csv('datasets/data_transf/t_user_reviews.csv')
df_review2

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...
58426,Posted July 10.,70,True,a must have classic from steam definitely wort...,76561198312638244
58427,Posted July 8.,362890,True,this game is a perfect remake of the original ...,76561198312638244
58428,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
58429,Posted July 20.,730,True,:D,LydiaMorley
58430,Posted July 2.,440,True,so much fun :D,LydiaMorley

In [8]:
# Análisis de Sentimiento con VADER en NLTK

from nltk.sentiment import SentimentIntensityAnalyzer

def analyze_sentiment_vader(review):
    sid = SentimentIntensityAnalyzer()
    scores = sid.polarity_scores(str(review))

    compound_score = scores['compound']

    if compound_score > 0.1:
        return 2  # Positivo
    elif compound_score < -0.1:
        return 0  # Negativo
    else:
        return 1  # Neutral

In [9]:
# Aplicación de Análisis de Sentimiento VADER a 'review'
df_review2['Sentiment_analysis'] = df_review2['review'].apply(analyze_sentiment_vader)

In [10]:
df_review2.head()

,posted,item_id,recommend,review,user_id,Sentiment_analysis
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479,2
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,2
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637,2
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637,2

In [12]:
df_review2['Sentiment_analysis'].value_counts()

Sentiment_analysis
2    36441
1    12881
0     9109
Name: count, dtype: int64

In [13]:
# Eliminación de Columna 'review'. La nueva columna Análisis de Sentimiento VADER tomara el lugar de columna 'review'
df_review2.drop(['review'], axis=1, inplace=True)

In [14]:
df_review2.head()

,posted,item_id,recommend,user_id,Sentiment_analysis
0,"Posted November 5, 2011.",1250,True,76561197970982479,2
1,"Posted July 15, 2011.",22200,True,76561197970982479,2
2,"Posted April 21, 2011.",43110,True,76561197970982479,2
3,"Posted June 24, 2014.",251610,True,js41637,2
4,"Posted September 8, 2013.",227300,True,js41637,2

#### Guardamos los dataframes transformados en formato Parquet y CSV

In [15]:
df_review2.to_parquet('datasets/f_e_user_reviews.parquet', index=False)
df_review2.to_csv('datasets/f_e_user_reviews.csv', index=False)